<template id="top-nav-template">
    <link rel="stylesheet" href="/components/top-nav/top-nav.css" />
    <div class="top-nav-component">
        <div class="top-nav__nav-bar">
            <div id="top-nav__nav-row">
                <a href="#">
                    <h1 class="top-nav__title">MAYA OSAKA</h1>
                </a>
                <div id="menu-icon" class="icon-ms">
                   
                </div>
            </div>
            <div id="top-nav__menu">
                <a class="top-nav__link desktop-link top-nav__link active" href="#">Home</a>
                <a class="top-nav__link desktop-link" href="#">CV</a>
                <a class="top-nav__link desktop-link" href="#">Archive</a>
                <a class="top-nav__link desktop-link" href="#">About</a>
            </div>
        </div>

    
    </div>
</template>