h1{
    font-size: var(--font-size-32);
    font-weight: (--font-weight-semiBold);
    color: var(--color-text);
    margin: 0;
}
a{
    text-decoration: none;
}
menu-icon{
    display:none;
}
.top-nav-component{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: var(--spacing-16) 0;
}
.top-nav__title{
    margin: 0 var(--spacing-16);
}
.top-nav__title:hover{
    color: var(--color-brand-hover);
}
.top-nav__link{
    font-size: var(--font-size-16);
    margin: var(--spacing-16);
    color: var(--color-neutral-900);
}
.top-nav__link:hover{
    color: var(--color-brand-hover);
    text-decoration: underline;
}
.active{
    color: var(--color-brand-active);
    font-weight: var(--font-weight-bold);
}


/*Tablets*/
@media (max-width: 1024px){

}
/*Mobile*/
@media (max-width: 768px){
    h1{
        font-size: var(--font-size-24);
        font-weight: (--font-weight-semiBold);
        margin: 0;
    }
    p{
        font-size: var(--font-size-14);
        margin: 0;
    }
    menu-icon{
        display:block;
    }
    .top-nav-component{
        flex-direction: column;
    }
    
    .top-nav__menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    #top-nav__nav-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}