<template id="top-nav-template">
    <link rel="stylesheet" href="/components/top-nav/top-nav.css" />
    <div class="top-nav-component">
        <div id="top-nav__nav-row">
            <a href="#">
                <h1 class="top-nav__title">MAYA OSAKA</h1>
            </a>
            <menu-icon></menu-icon>
        </div>
        <div class="top-nav__menu">
            <a id="home-link" class="top-nav__link top-nav__link active" href="#home">Home</a>
            <a class="top-nav__link" href="#">CV</a>
            <a class="top-nav__link" href="#">Archive</a>
            <a class="top-nav__link" href="#">About</a>
        </div>
    </div>
</template>