<template id="top-nav-template">
    <link rel="stylesheet" href="/components/top-nav/top-nav.css" />
    <div class="top-nav-component">
        <div id="top-nav__nav-row">
            <a href="#">
                <h1 data-page="homePage" class="top-nav__title">MAYA OSAKA</h1>
            </a>
            <menu-icon></menu-icon>
        </div>
        <div class="top-nav__menu">
            <a data-page="homePage" id="home-link" class="top-nav__link top-nav__link active">Home</a>
            <a  data-page="cvPage" class="top-nav__link">CV</a>
            <a  data-page="archivePage" class="top-nav__link">Archive</a>
            <a data-page="aboutPage" class="top-nav__link">About</a>
        </div>
    </div> 
</template>