:root{
    /*----------------Colors------------------*/
    /* Primary Colors */
    --color-primary-700: hsl(246, 100%, 40%);
    --color-primary-500: hsl(246, 100%, 51%);
    --color-primary-300: hsl(246, 100%, 70%);
    --color-primary-200: hsl(246, 100%, 90%);
    /* Secondary Colors */
    --color-secondary-200: hsl(313,100%,95%);
    /* Neutural Colors */
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-neutral-200: hsl(0,0%,75%);
    --color-neutral-500: hsl(0, 0%, 50%);
    --color-neutral-900: hsl(0, 0%, 14%); 
    
    /* Modal Colors */
    --color-modal: hsl(0, 0%, 14% 0.5);

    /* Semantil Roles */
    --color-brand: var(--color-primary-500);
    --color-brand-hover: var(--color-primary-700);
    --color-brand-active: var(--color-primary-500);

    --color-background-light: var(--color-neutral-0);
    --color-surface-light: var(--color-secondary-200);
    --color-surface-colored: var(--color-primary-200);

    --color-text: var(--color-neutral-900);
    --color-text-muted: var(--color-neutral-500);
    --color-text-inverse: var(--color-neutral-0);
    --color-link: var(--color-primary-500);
    --color-link-hober: var(--color-primary-700);

    --color-border: var(--color-neutral-500);
    --color-border-strong: var(--color-neutral-900);

    --color-disabled: var(--color-neutral-200);
    --color-focus: var(--color-primary-300);
    --color-selected: var(--color-primary-500);

   /* 
    --color-success: ;
    --color-warning: ;
    --color-error: ;
    --color-info: ; */

    /*----------------Measurments------------------*/
    /*spacing*/
    --spacing-2: 0.125rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-48: 3rem;
    --spacing-72: 4.5rem;

    /*border-radius*/
    --radius-4: 0.25rem;
    --radius-8: 0.5rem;
    --radius-16: 1rem;
    --radius-48: 3rem;

    /*border-width*/
    --border-1: 0.0625rem
    --border-2: 0.125rem;

    /*icon-sizes*/
    --icon-ms: 1.5rem;

    /*page-content-width*/
    --page-content-width-desktop: 68rem;
    --page-content-width-tablet: 72vw;
    --page-content-width-mobile: 96vw;
    --desktop-text-block-min-width: 46rem;
    /*----------------Typography------------------*/
    
    /* font-families */
    --font-family-primary:  'Azaret Mono', monospace;


    /* font-sizes */
    --font-size-32: 2rem;
    --font-size-24: 1.5rem;
    --font-size-20: 1.25rem;
    --font-size-18: 1.125rem;
    --font-size-16: 1rem;
    --font-size-14: 0.875rem;

    /*line-heights*/ 
    --leading-normal: 1.5;

    /*font-weight*/
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
}
html,body{
    height: 100%;
    margin: 0;
}
body{
    min-height: 100vh;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-16);
    line-height: var(--leading-normal);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    background: var(--color-background-light);
    display: flex;
    justify-content: center;
}
main {
    flex: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
}
h1{
    font-size: var(--font-size-32);
    font-weight: (--font-weight-semiBold);
    margin: 0;
}
h3{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    margin: 0;
}
h4{
    font-size: var(--font-size-16);
    font-weight:(--font-weight-semiBold);
    margin: 0 0 var(--spacing-16) 0;
}
p{
    font-size: var(--font-size-16);
    margin: 0;
}
a{
    color: var(--color-link);
}
a.cta-txt{
    color: var(--color-text-inverse);
    text-decoration: none;
}
li{
    font-size: var(--font-size-16);
    margin: var(--spacing-24);
}

button {
    align-self: flex-start;
    background-color: var(--color-brand-active);
    color: var(--color-text-inverse);
    font-size: var(--font-size-16);
    border: none;
    border-radius: var(--radius-48);
    padding: var(--spacing-16) var(--spacing-24);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-semiBold);
}
button:hover{
    background-color: var(--color-brand-hover);
    text-decoration: underline;
}
.body-large{
    font-size: var(--font-size-20);
}
.body-reg{
    font-size: var(--font-size-16);
}
.txt-bold{
    font-weight: var(--font-weight-bold);
}
.txt-semibold{
    font-weight: var(--font-weight-semiBold);
}
.txt-italic{
    font-style: italic;
}
.txt-underlined{
    text-decoration: underline;
}
.page{
    width: 75vw;
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* --------------- Media Queries ----------------*/
/*Tablet*/
@media (max-width: 1024px){
    .page{
        width: 90vw;
        max-width: 90vw;
    }
}
/*Mobile*/
@media (max-width: 768px){
    h1{
        font-size: var(--font-size-24);
    }
    h3{
        font-size: var(--font-size-18);
    }
    h4{
        font-size: var(--font-size-16);
    }
    p{
        font-size: var(--font-size-14);
    }
    a{
        color: var(--color-link);
    }
    li{
        font-size: var(--font-size-14);
        margin: var(--spacing-24) 0;
    }
    .body-large{
        font-size: var(--font-size-18);
    }
    .body-reg{
        font-size: var(--font-size-14);
    }
}