.project-card-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.image-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    max-height: auto;
    height: 90%;
}
.description-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 var(--spacing-32);
}
.row{
    margin: var(--spacing-16) 0;
}
.tag{
    text-decoration: underline;
}


@media (max-width: 1024px){
   
    .image-container{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    .description-section{
        margin: 0;
    }
    
}
@media (max-width: 768px){
    .project-card-container{
        flex-direction: column;
        align-items: center;
    } 
    .description-section{
        width: 100%;
    }
    .image-container{
        width: 100%;
    }
    .row{
    margin: var(--spacing-8);
    }
}