<template id="project-page-template">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="components/project-page/project-page.css">
    <div class="page-wrapper">
        <div class="project-page-container">
            <project-card>
                <span slot="image">
                    <div class="video-container"></div>
                    <video class="project-card__image video-1" src="../../assets/imgs/sensco/videos/sensco_vid_1.mov">
                </span>
                <span slot="heading">Sensco App</span>
                <span slot="title">Designing an e-commerce app for a supermarket</span>
                <span slot="tag-name">UI/UX</span>
                <span slot="description">
                    The Sensco app is an e-commerce app for a medium sized supermarket chain. The app has two core functions; to allow users to order their groceries online and to assist customer’s shopping in store through features like an interactive store map, smart shopping list and stock availability.
                </span>
                <span slot="cta">View hi-fi prototype</span>
            </project-card>
        </div>
    </div>
</template>