.project-card__image{
    max-width: 34rem;
    max-height: 34rem;
    height: auto;
}
.video-1{
    width:600px;
    height:auto;
    position:absolute;
    top: 100px;
    left: 100px;
}
.video-container{
    width:250px;
    height: 530px;
    overflow: hidden;
    position: relative;
}
