:host{
    display: block;
    width: 100%;
    max-width: 100%;
}
.image-carousel-container{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
};
.viewport{
    position: relative;
    overflow: hidden;
}
.slides{
    display: flex;
    width: max-content;
    transition: transform 0.4s ease;
    width: 100%;
}
.carousel-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ::slotted(.slide){
    margin: var(--spacing-16);
} */
::slotted(img){
    flex-shrink: 0;
    width: 100%;
    height: auto;
    max-height: 90vh;
    margin: var(--spacing-16);
}
.dots{
    display: flex;
    align-items: center;
}
.dot{
    width:0.75rem;
    height: 0.75rem;
    border-radius: 100px;
    background-color: var(--color-disabled);
    margin:var(--spacing-4);
}
.dot.active{
    background-color: var(--color-brand-active);
}
.arrow-btn{
    margin: var(--spacing-4);
}
:host([variant="vertical"]) ::slotted(img) {
    max-height: 90vh;
}
@media (min-width: 1200px) {
    :host([variant="vertical"]) .image-carousel-container {
        flex-direction:row-reverse;
    }
    :host([variant="vertical"]) .carousel-nav {
        flex-direction: column;
    }
    :host([variant="vertical"]) .dots {
        flex-direction: column;
    }
    :host([variant="vertical"]) .arrow-left {
        transform: rotate(90deg);
        margin: var(--spacing-16) 0;
    }
    :host([variant="vertical"]) .arrow-right {
        transform: rotate(90deg);
        margin: var(--spacing-16) 0;
    }
  }
  @media (max-width: 768px){
    ::slotted(img){
        margin: var(--spacing-16) 0;
    }
  }