:host{
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: var(--spacing-24) auto;
}
.single-image-container{
    width: 100%;
    max-width: 100%;
}
.wrapper{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
::slotted(img){
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 90vh;
    margin: 0 auto;
}
