.swatch-component{
    display: flex;
    align-items: center;
}
.swatch{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: var(--spacing-16);
}
.swatch-label{
    color: black;
    font-family:monospace;
    font-size: 0.9rem;
    line-height: 0.6rem;
}