.section-heading-container{
      width: 100%;
    max-width: 100%;
}
.section-heading{
    padding: var(--spacing-8) var(--spacing-32);
}
@media (max-width: 1024px){
 
}
@media (max-width: 768px){
    .section-heading{
        padding: var(--spacing-8);
    }
}