.section-heading-container{
max-width: var(--page-content-width-desktop);
}
.section-heading{
    padding: var(--spacing-32);
}
:host(.txt-underscored) ::slotted(span){
    text-decoration: underline;
}
:host(.section-heading-margin) ::slotted(span){
    width: var(--page-content-width-desktop);
}
@media (max-width: 1024px){
 .section-heading-container{
    width: var(--page-content-width-tablet);
 }
}
@media (max-width: 768px){
    .section-heading-container{
        width: var(--page-content-width-mobile);
        padding: var(--spacing-24);
    }
    .section-heading{
        padding: var(--spacing-8);
    }
}