.section-heading-container{
    width: 100%;
}
.section-heading{
    padding: var(--spacing-32);
}
:host(.txt-underscored) ::slotted(span){
    text-decoration: underline;
}
:host(.section-heading-margin) ::slotted(span){
    width: var(--page-content-width-desktop);
}
@media (max-width: 1024px){
 
}
@media (max-width: 768px){
    .section-heading{
        padding: var(--spacing-8);
    }
}