<template id="color-swatch-template">
    <link rel="stylesheet" href="/components/color-swatch.css" />
    <div class="swatch-component">
        <div class="swatch"></div>
        <div>
            <p class="swatch-label">
                <slot name="color-name">color name</slot>
            </p>
            <p class="swatch-label">
                <slot name="color-hex">color value</slot>
            </p>
            <p class="swatch-label">
                <slot name="color-hsl">color value</slot>
            </p>
        </div>
    </div>
    
</template>
^