<template id="footer-template">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="./components/footer/footer.css">
    <footer>
        <div class="top-row">
            <p class="footer__title body-large txt-bold">MAYA OSAKA</p>
            <div class="footer__menu">
                <a id="home-link" class="footer__link footer__link--active" href="#home">Home</a>
                <a class="footer__link body-reg">CV</a>
                <a class="footer__link body-reg">Archive</a>
                <a class="footer__link body-reg">About</a>
            </div>
        </div>
        <p class="body-reg line-break">
            Thank you for checking out my work!
        </p>
        <p class="body-reg line-break">
            🙋‍♀️ Say hello at
        </p>
        <div class="line-break">
            <a class="email-address txt-semibold" href="mailto:mayaosaka@outlook.com">
                mayaosaka@outlook.com
            </a>
        </div>
    </footer>
</template>