footer{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__title{
    cursor: pointer;
    margin: 0 var(--spacing-16);
}
.footer__title:hover{
    color: var(--color-brand-hover);
}
.footer__menu {
    display: flex;
}
.footer__link {
    font-size: var(--font-size-16);
    margin: var(--spacing-16);
    color: var(--color-neutral-900);
    cursor: pointer;
}
.footer__link:hover{
    color: var(--color-brand-hover);
    text-decoration: underline;
}
.footer__link--active{
    color: var(--color-brand-active);
    font-weight: var(--font-weight-bold);
}
.email-address {
    color: var(--color-brand-active);
}
.email-address:hover{
    color: var(--color-brand-hover);
    text-decoration: underline;
}
.line-break{
    margin: var(--spacing-16);
}
@media (max-width: 768px){
   footer{
    padding: var(--spacing-8) 0;     
    margin: 0 var(--spacing-16);
   } 
   .top-row{
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
   }
}