:host{
    width: 100%;
    max-width: 100%;
};
.sensco-app-page-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.project-card__image{
    max-width: 34rem;
    max-height: 34rem;
    height: auto;
    max-height: 16rem;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------- Web Components ----------------*/
project-card{
    width: 100%;
    max-width: 100%;
}