:host{
    width: 100%;
    max-width: 100%
};
.project-nav-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}
.nav-dropdown{
    display: flex;
    justify-content: flex-end;
}
.top-cell{
    display: flex;
    font-weight: var(--font-weight-bold);
    width:fit-content;
    height:fit-content;
    padding: var(--spacing-8) var(--spacing-16);
    border: 2px solid var(--color-border-strong);
    border-radius: var( --radius-8);
}
.top-cell:hover{
    background-color: var(--color-brand-hover-light);
    border: 3px solid var(--color-border-strong);
}

.chevron-icon{
    width: 1.4rem;
    height: auto;
    padding: 0 0 0 var(--spacing-8);
    
}