<template id="project-nav-template">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="./components/project-nav/project-nav.css">
    <div class="project-nav-container">
        <div class="nav-dropdown-section">
            <div class="dropdown">
                <div class="top-cell" aria-expanded="false" aria-controls="project-nav-options">
                    <span class="body-reg">Jump to section</span>
                    <img class="chevron-icon" src="../../assets/icons/chevron.svg">
                </div>
                <div class="dropdown-content" id="project-nav-options" hidden> 
                </div>
            </div>
        </div>
    </div>
</template>
