<template id="project-nav-template">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="./components/project-nav/project-nav.css">
    <div class="project-nav-container">
        <div class="nav-dropdown">
            <ul id="list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <!-- <div class="dropdown-content">
                <div class="top-cell">
                    <span class="body-large">Jump to section</span>
                    <img class="chevron-icon" src="../../assets/icons/chevron.svg">

                </div>
            </div> -->
        </div>
    </div>
</template>