:host{
    width: 100%;
    max-width: 100%;
    padding: var(--spacing-24) var(--spacing-32);
}

.text-block-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-block-content{
    padding: var(--spacing-24);
    border-radius: var(--radius-16);
}
:host([variant="default"]) .text-block-content{
    width: 60%;
    min-width: var(--desktop-text-block-min-width);
}
:host([variant="background-1"]) .text-block-content{
    width: 60%;
    min-width: var(--desktop-text-block-min-width);
    background-color: var(--color-surface-light);
}
:host([variant="background-2"]) .text-block-content{
    width: 60%;
    min-width: var(--desktop-text-block-min-width);
    background-color: var( --color-surface-colored);
}

@media (max-width: 768px){
    :host{
        padding: var(--spacing-24) var(--spacing-8);
    }
    :host([variant="default"]) .text-block-content{
        width: 100%;
        min-width: 100%;
        padding: 0;
    }
    :host([variant="background-1"]) .text-block-content{
        width: 85%;
        min-width: 85%;
    }
    :host([variant="baclground-2"]) .text-block-content{
        width: 85%;
        min-width: 85%;
    }
}